{% extends "_base.html" %}

{% block content %}


<div class="content">
	<div class="container">
	 <div class="load_more">
			     <ul id="myList">
			        <!-- These are our grid blocks -->
			        <li>
						<div class="l_g">
                            {% for post in posts.items %}
							<div class="col-md-3 praesent test_a">
								<div class="l_g_r">
									<div class="dapibus">
										<h2>{{ post.title }}</h2>
										<p>{{ post.prev }} </p>
										<a href="/post/{{ post.id }}" class="link">Читать далее</a>
									</div>
								</div>
							</div>

                            {% endfor %}



							<div class="clearfix"></div>
                            </div>
					</li>

			      </ul>
                    {% if posts.has_prev %}<div id="loadMore"><a href="{{ url_for('.home', page=posts.prev_num) }}"> Новые записи</a></div>{% else %} {% endif %}
                    {% if posts.has_next %}<div id="loadMore"><a href="{{ url_for('.home', page=posts.next_num) }}">Старые записи</a></div>{% else %} {% endif %}

			    </div>
	</div>
</div>
{% endblock %}
