{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <br>
    <br>
<div class="content">
	<div class="container">
  <header class="content-header">
    <h1>Пожалуйста войдите</h1>
  </header>

  <br>


  <form class="form" role="form" method="post" action="">

    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}


    <div class="col-lg-4 col-sm-4">

      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.password) }}

      <button class="btn btn-success" type="submit">Вход!</button>
      <br><br>
      <p>Need to <a href="{{ url_for('user.register') }}">Регистрация</a>?</p>
    </div>

  </form>

    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endblock content %}
